numpy
scipy
Pillow
cython
matplotlib
scikit-image
#tensorflow==2.2.0
keras>=2.4.1
opencv-python
h5py
imgaug
IPython[all]
iopath
fvcore
av
torch
pycocotools
yacs
termcolor 
scipy 
simplejson 
torchvision
tqdm
psutil
opencv-python
pandas
moviepy
sklearn
git+https://github.com/facebookresearch/detectron2.git
